{% extends "reports/_list_base.html" %}


{% block data_table_headers %}
    <th>Label</th>
    <th>Vendor</th>
    <th>Wholesale Price/Unit</th>
    <th>Quantity Bought</th>
    <th>Quantity Sold</th>
    <th>Quantity Remaining</th>
{% endblock %}

{% block data_table_data %}
    {% for item in object_list %}
        <tr data-id="{{ item.id }}" data-my_stock_number="{{ item.stock_number }}"
            data-vendor_product_number="{{ item.product_number }}" data-notes="{{ item.notes }}">
            <td>{{ item.label }}</td>
            <td>{{ item.vendor }}</td>
            <td class="text-end">${{ item.wholesale_price }}</td>
            <td class="text-end">{{ item.qty_bought }}</td>
            <td class="text-end">{{ item.qty_sold }}</td>
            <td class="text-end">{{ item.remaining }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block data_table_no_item_label %}items in inventory{% endblock %}
