{% extends "inventory/_list.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <style>
        #data_table {
            cursor: default;
        }

        #data_table tr td:nth-of-type(4), #data_table tr td:nth-of-type(5) {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block ready_js %}
    let csrftoken = Cookies.get('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function csrfSafeMethod(method) {
        // These HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    dataTable.MakeCellsEditable({
        "allowNulls": {
            "columns": []
        },
        "columns": [3, 4],
        "confirmationButton": {
            "confirmCss": "btn btn-success btn-sm",
            "cancelCss": "btn btn-danger btn-sm",
            "listenToKeys": true
        },
        "inputTypes": [
            {
                "column": 3,
                "type": "number"
            },
            {
                "column": 4,
                "type": "number"
            }
        ],
        "onUpdate": storeUpdatedValue,
        "onValidate": validateUpdatedValue
    });
{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.cellEdit.js" %}"></script>

    <script>
        function storeUpdatedValue(updatedCell, updatedRow, oldValue) {
            if (updatedCell.data() !== oldValue) {
                let field = (updatedCell.index()["column"] === 3) ? "qty_bought" : "qty_sold";
                let newValue = updatedCell.data();

                $.post(
                    "{% url "inventory:save_quantity_values" %}",
                    {
                        "field": field,
                        "item_id": updatedRow.nodes().to$().data("id"),
                        "new_value": newValue
                    },
                    function() {
                        // Update the Quantity Remaining column after the bought or sold value has been changed
                        let data = updatedRow.data();
                        data[5] = data[3] - data[4];
                        updatedRow.data(data).draw();
                    }
                ).fail(function(jqXHR, textStatus, errorThrown) {
                    alert(
                        "Could not save quantity information.\n\nError: " + jqXHR.responseText
                    );
                });
            }
        }

        function validateUpdatedValue(cell, row, newValue) {
            return !isNaN(newValue);
        }
    </script>
{% endblock %}

{% block header %}Quick Quantity Update{% endblock %}
