{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <style>
        #busy {
            background-color: #fff;
            cursor: wait;
            display: none;
            height: 100%;
            left: 0;
            opacity: 0.8;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <script>
        function importing() {
            if ($("form").valid()) {
                $("#busy").show();
                $(".btn .fa-spinner").show();
                $(".btn .btn-text").html("Importing Data");
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom"><h1>Import Order Data</h1></div>

    <p>Select the file to upload. File format can be CSV or OSF Spreadsheet (i.e. LibreOffice Calc native format).</p>

    <p>
        Be aware that inventory items can not be automatically added to imported orders. No way to determine from
        the input file which inventory items were included.
    </p>

    <p>
        Also note that any company website URLs or running investment amounts in the input file will overwrite
        what is stored for that company.
    </p>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div>{{ form }}</div>

        <button class="btn btn-primary mt-5" id="submit" onclick="importing()" type="submit">
           <em class="fas fa-spinner fa-spin" style="display:none;"></em>
          <span class="btn-text plg-5">Submit</span>
        </button>
    </form>

    <div id="busy"></div>
{% endblock %}
