{% extends "base.html" %}

{% block title %}
    Sales Applications: Record Sale
{% endblock %}

{% block header %}
    Record Sale
{% endblock %}

{% block extrahead %}
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
     <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_date").datepicker();

            // Update the calculated sales price when any of these
            // related things change
            $("#id_item").change(update_sales_values);
            $("#id_tax_rate").change(update_sales_values);
            $("#id_discount").change(update_sales_values);
        });

        // Clean up the form to make it ready for submission
        function cleanForm()
        {
            // If 'commission' is set to "N/A", change to an empty string so Django validation works
            if ($("#id_commission").val() == "N/A") $("#id_commission").val("");

            return true;
        }

        // Update the fields as a convenience when something related changed
        function update_sales_values()
        {
            if ($("#id_item").val() != "")
            {
                if ($("#id_tax_rate").val() != "")
                {
                    $.get(
                        "/shopowner/sales/update_values/",
                        {
                            "discount": $("#id_discount").val(),
                            "item":     $("#id_item").val(),
                            "tax_rate": $("#id_tax_rate").val()
                        },
                        function(data) {
                            $("#id_commission").val(data.commission);
                            $("#id_price").val(data.price);
                        }
                    )
                    .fail(function(jqXHR, textStatus, errorThrown) {
                        // Show Django error page so we can easily see the error
                        error_page(jqXHR, textStatus, errorThrown);
                    });
                }
                else
                {
                    warning("Can't automatically calculate price or commission without the tax rate.");
                }
            }
            else
            {
                $("#id_commission").val("");
                $("#id_price").val("");
            }
        }
    </script>
{% endblock %}

{% block content %}
    {% include "messages.html" %}

    <p>
        Enter the details as required, then press <strong>Record</strong> to save
        the information.  Clicking on the <em>Date</em> field will bring up a date picker.
        The <em>Price</em> and <em>Commission</em> will be filled out automatically based on
        the item sold and the tax rate.
    </p>

    {% if form.errors %}
        <p class="errornote">
            Please correct the errors below.
        </p>

        <br />
    {% endif %}

    <form method="post" onsubmit="return cleanForm();">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        {% include "form_buttons.html" with submit_name="Record" %}
    </form>
{% endblock %}

