{% extends "base.html" %}
{% load format %}

{% block title %}
    Sales Applications: Record Sale
{% endblock %}

{% block header %}
    Record Sale
{% endblock %}

{% block extrahead %}
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css" />
     <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/accounting.min.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>

     <script type="text/javascript">
        $(document).ready(function() {
            // Set up the calculator icon
            $("#calculator").click(function() {
                if ($("#id_item").val() == "")
                {
                    warning("An item must be chosen before auto calculating the discount");
                }
                else
                {
                    $("#id_sale_price").val("");   // Remove any previous value
                    popup("#discount-form", "Auto Calculate Discount", "Auto Calculate",
                        overrideSalePrice, calculatorValidation);
                }
            });

            // Set up the jQuery datepicker with the calendar icon
            $("#datepicker").datepicker({
                buttonImage: '{{ STATIC_URL }}admin/img/icon_calendar.gif',
                buttonImageOnly: true,
                buttonText: 'Click to show the calendar',
                altField: "#id_date",
                changeMonth: true,
                changeYear: true,
                showOn: 'both',
                showButtonPanel: true
             });

            // Update the calculated sales price when any of these
            // related things change
            $("#id_item").change(updateSalesValues);
            $("#id_tax_rate").change(updateSalesValues);
            $("#id_discount").change(updateSalesValues);
        });

        // User manually entered a sale price overriding what the item is listed to sell at.  Need to update
        // associated values.
        function overrideSalePrice()
        {
            // #item_price will always have the original price, #id_price is updated so we can't use that
            var price = accounting.unformat($("#item_price").text());
            var discount = accounting.toFixed((price - $("#id_sale_price").val())/price * 100.0, 2);

            $("#id_discount").val(discount);

            // Need to (possibly) recalculate the commission with the overriding sale price.  This has the
            // side effect of updating the price field for us.
            updateSalesValues(null, $("#id_sale_price").val());
        }

        // Validate that the sale price entered when clicking the calculator icon is a valid positive number
        function calculatorValidation()
        {
            if ($("#id_sale_price").val() == "")
            {
                warning("No sale price given");
                return false;
            }
            else if (validatePositiveDecimal($("#id_sale_price").val()) == false)
            {
                warning("Sale price is an illegal value");
                return false;
            }
            else
            {
                return true;
            }
        }

        // Clean up the form to make it ready for submission
        function cleanForm()
        {
            // If 'commission' is set to "N/A", change to an empty string so Django validation works
            if ($("#id_commission").val() == "N/A") $("#id_commission").val("");

            return true;
        }

        // Update the fields as a convenience when something related changed
        function updateSalesValues(event, salePrice)
        {
            let itemValue = $("#id_item").val();

            if (itemValue !== "")
            {
                let taxRateValue = $("#id_tax_rate").val();

                if (taxRateValue !== "")
                {
                    let discount = $("#id_discount");

                    if (discount.val() === "")
                    {
                        // Change discount to 0 if not set
                        discount.val(0);
                    }

                    $.get(
                        "{% url 'sales:update_values' %}",
                        {
                            "discount":     discount.val(),
                            "item":         itemValue,
                            "tax_rate":     taxRateValue,
                            "sale_price":   salePrice
                        },
                        function(data) {
                            $("#id_commission").val(data.commission);
                            $("#id_price").val(data.price);
                            $("#item_price").text(accounting.formatMoney(data.price));
                        }
                    )
                    .fail(function(jqXHR, textStatus, errorThrown) {
                        // Show Django error page so we can easily see the error
                        error_page(jqXHR, textStatus, errorThrown);
                    });
                }
                else
                {
                    warning("Can't automatically calculate price or commission without the tax rate.");
                }
            }
            else
            {
                $("#id_commission").val("");
                $("#id_price").val("");
                $("#item_price").text("");
            }
        }
    </script>
{% endblock %}

{% block content %}
    {% include "messages.html" %}

    <p>
        Enter the details as required, then press <strong>Record</strong> to save
        the information.  Clicking on the calendar icon next to the <em>Date</em> field will bring up a date picker.
        The <em>Price</em> and <em>Commission</em> will be filled out automatically based on
        the item sold and the tax rate.
    </p>

    {% if form.errors %}
        <p class="errornote">
            Please correct the errors below.
        </p>

        <br />
    {% endif %}

    <form method="post" onsubmit="return cleanForm();">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        {% include "form_buttons.html" with submit_name=action %}
    </form>

    <div id="discount-form" style="display: none;">
        <p>
            The currently selected item is listed to sell for
            <span id="item_price">
                {% if sale.price %}
                    {{ sale.price|currency_format }}
                {% endif %}
            </span> (includes sales tax).
            Please enter the actual sale price (including sales tax) below.
        </p>

        $<input id="id_sale_price" type="text" />
    </div>
{% endblock %}

