{% extends "base.html" %}
{% load format %}

{% block title %}
    Inventory Applications: Image Sheet
{% endblock %}

{% block header %}
    List Items
{% endblock %}

{% block extrahead %}
    <style>
        .side-by-side {
            border: 2px solid #000;
            display: inline-block;
            margin-right: 10px;
            padding-left: 0.25em;
            padding-right: 0.25em;
            vertical-align: top;
        }

        .wrapper {
            overflow-x: auto;
            white-space: nowrap;
        }
    </style>
{% endblock %}


{% block content %}
    {% if object_list %}
        <button onclick="javascript: window.print();" style="margin-bottom: 2em;" class="no_print">Print</button>

        <div class="wrapper">
        {% for item in object_list %}
            <div class="side-by-side">
                <a href="{% url 'db_file_storage.get_file' %}?name={{ item.picture }}" target="_blank">
                    <img height=64 width=64 src="{% url 'db_file_storage.get_file' %}?name={{ item.picture }}">
                </a>
                <p style="text-align: center;">
                    {{ item.desc }}
                    <br />
                    {{ item.price|currency_format }}
                </p>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>
            No item images could be found to display.
        </p>
    {% endif %}
{% endblock %}

