{% extends "base.html" %}

{% block title %}
    Inventory Applications
{% endblock %}

{% block header %}
    Inventory Applications
{% endblock %}

{% block content %}
    <p>
        Keep track of shop inventory.
    </p>

    <ul>
        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/inventory/add/">Add Item</a>
            <span class="aligned_desc">
                Add an item to inventory
            </span>
        </li>

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/inventory/edit/">Edit Item</a>
            <span class="aligned_desc">
                Edit an item in inventory (can also be used to remove an item)
            </span>
        </li>

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/inventory/list/">List Items</a>
            <span class="aligned_desc">
                List items in inventory
            </span>
        </li>

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/inventory/image_sheet/">Image Sheet</a>
            <span class="aligned_desc">
                Create an sheet of images
            </span>
        </li>

        <br />

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/category/add/">Add Category</a>
            <span class="aligned_desc">
                Add categories that can be selected when adding an item
            </span>
        </li>

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/category/edit/">Edit Category</a>
            <span class="aligned_desc">
                Edit a category name (can also be used to remove a category)
            </span>
        </li>

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/category/list/">List Categories</a>
            <span class="aligned_desc">
                List categories
            </span>
        </li>

        <br />

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/seller/add/">Add Seller</a>
            <span class="aligned_desc">
                Add seller names that can be selected when adding an item
            </span>
        </li>

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/seller/edit/">Edit Seller</a>
            <span class="aligned_desc">
                Edit a seller's name (can also be used to remove a seller)
            </span>
        </li>

        <li class="aligned_bullet">
            <a class="aligned_link" href="/shopowner/seller/list/">List Sellers</a>
            <span class="aligned_desc">
                List sellers
            </span>
        </li>
    </ul>
{% endblock %}

