{% extends "base.html" %}
{% load format %}

{% block title %}
    Inventory Applications: List Items
{% endblock %}

{% block header %}
    List Items
{% endblock %}

{% block content %}
    {% if object_list %}
        <p>
            Click on the image to get the full sized version.
        </p>

        <table border="1">
            <caption><strong>Inventory</strong></caption>

            <tr>
                <th>Number</td>
                <th>Description</td>
                <th>Price</td>
                <th>Image</td>
            </tr>

            {% for item in object_list %}
                {% ifequal item.user user %}
                    <tr>
                        <td>{{ item.number }}</td>
                        <td>{{ item.desc }}</td>
                        <td>{{ item.price|currency_format }}</td>
                        <td>
                            {% if item.picture %}
                                <a href="/files/get/?name={{ item.picture }}" target="_blank">
                                    <img height=64 width=64 src="/files/get/?name={{ item.picture }}">
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        </table>
    {% else %}
        <p>There are no items to list.</p>
    {% endif %}
{% endblock %}

