{% extends "base.html" %}
{% load format %}

{% block title %}
    Inventory Applications: List Items
{% endblock %}

{% block header %}
    List Items
{% endblock %}

{% block content %}
    {% if object_list %}
        <p>
            Click on the image to get the full sized version.
        </p>

        <table border="1">
            <caption><strong>Inventory</strong></caption>

            <tr>
                <th>&nbsp;#&nbsp;</th>
                <th>Description</th>
                <th>Price</th>
                <th>Status</th>
                <th>Image</th>
            </tr>

            {% for item in object_list %}
                <tr>
                    <td style="text-align: center;">{{ item.number }}</td>
                    <td>{{ item.desc }}</td>
                    <td style="text-align: right;">{{ item.price|currency_format }}</td>
                    <td style="text-align: center;">
                        {% if item.sale_set.all %}
                            Sold
                        {% else %}
                            Unsold
                        {% endif %}
                    </td>
                    <td>
                        {% if item.picture %}
                            <a href="/shopowner/files/get/?name={{ item.picture }}" target="_blank">
                                <img height=64 width=64 src="/shopowner/files/get/?name={{ item.picture }}">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no items to list.</p>
    {% endif %}
{% endblock %}

