{% extends "base.html" %}

{% block title %}
    Inventory Applications: {{ action }} Item
{% endblock %}

{% block header %}
    {{ action }} Item
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/accounting.min.js"></script> 

    <script type="text/javascript">
        // Update the text that mentions how much commission will be made
        function update_commission_text()
        {
            var commission = accounting.formatMoney($("#id_price").val()*($("#id_commission").val()/100.0));
            $("#id_text_span_commission").text("(commission on this item would be " + commission + ")");
        }

        $(document).ready(function() {
            // Update the commission text when the price or commission changes
            $("#id_price").change(update_commission_text);
            $("#id_commission").change(update_commission_text);

            update_commission_text();
        });
    </script>
{% endblock %}

{% block content %}
    <p>
        {% ifequal action "Add" %}
            Enter
        {% else %}
            Change
        {% endifequal %}

        the details as required, then press
        
        {% ifequal action "Add" %}
            <strong>Add</strong>
        {% else %}
            <strong>Update</strong>
        {% endifequal %}

        to save the information.
    </p>

    <form method="post" {% if form.is_multipart %}enctype='multipart/form-data'{% endif %}>
        {% csrf_token %}

        {% ifequal action "Add" %}
            {% include "form_buttons.html" with submit_name="Add" %}
        {% else %}
            {% include "form_buttons.html" with submit_name="Update" %}
        {% endifequal %}

        <table>
            {{ form.as_table }}
        </table>

        {% ifequal action "Add" %}
            {% include "form_buttons.html" with submit_name="Add" %}
        {% else %}
            {% include "form_buttons.html" with submit_name="Update" %}
        {% endifequal %}
    </form>
{% endblock %}

