{% extends "base.html" %}
{% load choices %}

{% block title %}
    Inventory Applications: Edit Seller
{% endblock %}

{% block header %}
    Edit Seller
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_sellers").change(function() {
                window.location.replace($("select option:selected").val());
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% ifequal form|num_choices:"sellers" 0 %}
        <p>There are no sellers to edit.</p>
    {% else %}
        <p>
            Select the seller to edit.
        </p>

        {% comment %}
            No need to put 'form' into <form></form> since we are using jQuery to pick up which
            choice was selected (and not really using a form with buttons)
        {% endcomment %}

        {{ form.as_p }}
    {% endifequal %}
{% endblock %}

