{% load static %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html style="direction: ltr;" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=windows-1252" />
        <meta name="author" content="J.Reiser" />
        <meta name="author" content="Adam Stein" />
        <meta name="description" content="Shop Owner Apps" />

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/color.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/error.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/print.css" media="print" />

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        {% block extrahead %}{% endblock %}

        {% if ajax %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>

            {{ ajax.generate_js|safe }}
        {% endif %}
    </head>

    <body>
        <div id="perm-links" class="no_print">
            <ul>
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "item:inventory" %}">Inventory</a></li>
                <li><a href="{% url "sales:sales" %}">Sales</a></li>
                {% if user.is_superuser %}
                    <li><a href="{% url "admin:index" %}">Admin</a></li>
                {% endif %}
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}" style="color:#880000;">Logout</a></li>
                {% else %}
                    <li>Logout</li>
                {% endif %}
            </ul>
        </div>

        <h1 class="no_print">{% block header %}{% endblock %}</h1>

        <div id="main-menu" class="no_print">
            {% if navigation %}
                    <h3>Navigation</h3>
                    <ul>
                        {% for label,link in navigation %}
                            {% if not label %}
                                <li>&nbsp;</li>
                            {% else %}
                                {% if not link %}
                                    <li style="text-align: center; border: solid 1px #666666;">{{ label }}</li>
                                {% else %}
                                    <li><a href="{{ link }}">{{ label }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
            {% endif %}

            {% if user.is_authenticated %}
                <p style="text-align: center;">You are logged in as <em>{{ user }}</em></p>
            {% endif %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div style="margin-bottom: 1em;" class="no_print"></div>

        <div id="footer" class="no_print">
            <h5 style="float: left;">
                {% if settings.DEBUG %}[Development] {% endif %}ShopOwner v{{ settings.VERSION }}
            </h5>
            <h5>&copy; <a href="mailto:adam@csh.rit.edu">Adam Stein</a>.  All rights reserved.</h5>
        </div>
    </body>
</html>


